html { 
	height: 100%;
	/*background: red; /* For browsers that do not support gradients 
  	background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 
  	background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 
  	background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 
  	background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
  	background-color: #82000C;
}

#mainwrapper {
	margin-right: auto;
	margin-left: auto;
	width: 96%; /* Outermost DIV */
	background-color: #82000C;  
	background-repeat: repeat-x;/* Fallback for older browsers*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#82000C), to(#CBC8B7));  /* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #CBC8B7, #82000C); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #CBC8B7, #82000C);  /* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #CBC8B7, #82000C);  /* IE 10 */
	background: -o-linear-gradient(top, #CBC8B7, #82000C);  /* Opera 11.10+ */
  	box-shadow: 0 0 10px 5px #000;

}

#header {
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
	height: 100px;
	width: 97.9166667%; /* 940 divided by 960 */
	/*box-shadow: 0 0 10px 5px #000;*/
	text-align: center;
}

#header img {
	width: 133px;
	height: 100px;
	margin: 0 auto;

}
/*#headertext {
	position: absolute;
	width: 30%;
	top: 0;
	right: 0;
	float: left;
	padding: 1px;
	list-style: none;
	text-align: center;
	display: inline-block;
	border-style: none;
	
}*/



#nav {
	padding-bottom: 25px;
	margin-top: 26px;
	margin: auto;
	padding-right: 10px;
	padding-left: 10px;
	width: 72.7083333%; /* 698 divided by 960 */
	/*box-shadow: 0 0 10px 5px #000;*/
}

#nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   /* background-color: #AC9399;*/
    background: linear-gradient(#DDD1E7, #EEE8F3);
	background: -moz-linear-gradient(#E0EEEE, #2F4F4F);
	background: -ms-linear-gradient(#E0EEEE, #2F4F4F);
	background: -o-linear-gradient(#E0EEEE, #2F4F4F);
}

#nav ul li {
	float: left;
}

#nav ul li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav ul li a:hover:not(.active) {background-color: #111;}

#nav ul li a.active {background-color: #4CAF50;}

#nav ul li.right {float: right;}

@media screen and (max-width: 600px){
 	#nav ul li .right,
    #nav ul li {float: none;}
}
/*#nav a:active {
 	position: relative;
 	top: 1px;
 }

#nav ul li {
	
	padding: 10px;
	list-style: none;
	text-align: center;
	display: inline-block;
}*/

#maincontent {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	width: 97.9166667%; /* 940 divided by 960 */
	/*box-shadow: 0 0 10px 5px #000;*/
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel-wrapper {
		/*background-color: #E6E6E6;*/
}

.jcarousel {
    position: relative;
    overflow: hidden;

}



/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;

}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    background-color: AC9399;    /*background-color: #E6E6E6;*/
}

#centerframe {border-radius: 1px;
	border: 2px solid #6495ED;
	background-color: #AC9399;
	/*background: linear-gradient(#DDD1E7, #EEE8F3);
	background: -moz-linear-gradient(#E0EEEE, #2F4F4F);
	background: -ms-linear-gradient(#E0EEEE, #2F4F4F);
	background: -o-linear-gradient(#E0EEEE, #2F4F4F);*/
	height: 500px;
	width: 760px;
	margin-top: 5px;
	margin: auto;
	Font-size:22px;
	Font-family:times;
	text-align: center;
	float:center;
	padding:1px;
}

#playing {
	
	margin-top: -45px;
	
	text-align: center;
	float:center;
	padding:1px;
}


#rightframe {
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #AC9399;
	height: 400px;
	width: 200px;
	Font-size:22px;
	Font-family:times;
	text-align: center;
	float:right;
	padding:5px;}

#body {
  position: absolute;
  background: #D8D8D8;
  top: 15%;
  //height: 20%;
  left:22%;
  right:11%;
  padding-bottom: 50px;
}

#lmenu {
  position:absolute;
  top:15%;
  left: 10px;
  background: #A4A4A4;
  width:18%;
  text-align: center;
  padding: 10px;

}

#rmenu {
  position: absolute;
  top: 15%;
  right: 10px;
  background: #A4A4A4;
  width: 10%;
  height:20%;
}

.m {
  background-color: #CFD5CD;
  display: inline-block;
  padding: 3px;
  margin: 3px;
  height: 30px;
  font-size: larger;
  width: 90%;
  color: white;

}

p.todo {
  font-size: 25px;
  margin: 20px;
  text-align: center;

}

h1.title{
  font-size: 40px;
  padding: 10px;

}

input.todo {

  width: 200px;
  height: 40px;
  font-size: 20px;
  margin-left: 20px;


}

#footer {
	height: 100px;
	margin-right: 10px;
	margin-left: 10px;
	width: 97.9166667%; /* 940 divided by 960 */

}

#footertext {
	position: absolute;
	padding-left: 5px;
	height: 100px;
	width: 70%;
	text-align: left;
	border-style: none;
}

#footerimages img {
	position: relative;
	float: right;
	padding-right: 5px;
	margin-top: 20px;
	margin-right: 45px;
	width: 50px;
	height: 50px;
}